/* Home.css */
@import url('https://fonts.googleapis.com/css2?family=Nourd:wght@900&display=swap');

.home {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(180deg, #c4eca0, #1f906c);
    padding: 20px;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.header h1 {
    font-family: 'Nourd', sans-serif;
    font-weight: 900; /* Heavy Bold */
    font-size: 50px;
    text-transform: uppercase;
    color: #fff1e1;
    position: relative;
    margin-right: auto;
    -webkit-text-stroke: 1px black; /* Border effect */
}

.header h1::before {
    content: "SIP & PLAY";
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    z-index: -1;
    transform: translate(-18px, 18px) rotate(-45deg); /* Splice effect with direction -45 */
    -webkit-text-stroke: 18px black; /* Adjust the thickness */
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

nav button {
    background: #fff;
    border: 2px solid #4caf50;
    border-radius: 20px;
    padding: 10px 20px;
    font-family: 'Pluma', sans-serif;
    font-size: 15.9px;
    color: #4caf50;
    cursor: pointer;
    transition: transform 0.3s;
}

nav button:hover {
    transform: scale(1.1);
}

section {
    margin: 40px 0;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 20px;
}

h3 {
    font-size: 2em;
    color: #fff;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.grid div {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

p {
    color: #fff;
    font-family: 'Nourd', sans-serif;
}

.address {
    font-size: 17px;
}

.city {
    font-size: 12px;
}

.phone {
    font-size: 14px;
}

.email {
    font-size: 14px;
}
